###to update config-client.ymls in cloud-config-server-repository separately
#didn't work
!**/cloud-config-server-repository/*.yml
!**/cloud-config-servr-repository/
#worked
cloud-config-server-repository/*.yml
cloud-config-server-repository/
####
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.idea/**
*.idea

### logs ###
*.log
twitter-to-kafka-service/twitter-to-kafka-service/logs/twitter-to-kafka-service.log
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
!/.gitignore
### Local Environment file
/Commentary/requests/http-client.private.env.json
http-requests-log.http
/docker-compose/volumes/zookeeper/transactions/version-2/log.*
